{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Code</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <button type="button" class="btn btn-primary">Add to Project</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img>
                <p></p>
            </div>
        </div>
    </div>      
{% endblock %}