{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Design</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
    <div class="center">
        <button type="button" class="btn btn-primary add-project-btn">Add Project +</button>
    </div>
    {% endif %}
    <div class="row">
            <div class="portfolio-container">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for project in projects %}
                    {% if project %}
                        {% if project.category.name == "design_portfolio" %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card project-card light-grey-back border-0">
                                <div class="project-img-container">
                                    {% if project.image %}
                                    <a href="#">
                                        <img class="card-img-top img-fluid" src="{{ project.image.url }}" alt="{{ project.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="card-body pb-0">
                                    <p class="mb-0 project-name grey center">{{ project.name }}</p>
                                </div>
                                <div class="card-footer light-grey-back grey pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold center">${{ project.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div>
                            <h2>No Projects Yet</h2>
                        </div>
                    {% endif %}
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>     
{% endblock %}