{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Design</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="portfolio-container">
            <div class="row mt-1 mb-2"></div>
            <!---------------Display all portfolios in the design category----------------->
            <div class="row">
                {% for project in projects %}
                    {% if project %}
                        {% if project.category.name == "design_portfolio" %}
                        <div class="col-sm-6 col-md-6 col-lg-4 project-card-container">
                            <div class="card project-card light-grey-back border-0">
                                    <div class="project-img-container">
                                        {% if project.image %}
                                        <img class="card-img-top img-fluid" src="{{ project.image.url }}" alt="{{ project.name }}">
                                        {% else %}
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                <div class="pb-0">
                                    <p class="mb-0 project-name grey center">{{ project.name }}</p>
                                </div>
                                <div class="card-footer light-grey-back grey pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold center">{{ project.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    <!---------------If no projects found display no projects----------------->
                    {% else %}
                    <div>
                        <h2>No Projects Yet</h2>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>  
        <!---------------Button to go to create an order----------------->
        <div class="center col-12 mx-auto get-quote-btn-container grey-back">
            <h3 class="white">Bring your ideas to life, and click here to start your project with us.</h3>
            <a class="btn btn-primary get-quote-btn" href="{% url 'bagged_services' %}">CREATE ORDER</a>
        </div>
    </div>    
{% endblock %}