{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="dc-container">
        <div class="split left">
            <h1 class="dc-h1 top-margin">The Designer</h1>
            <a href="{% url 'design' %}" class="dc-button top-margin">View Portfolio</a>
        </div>
        <div class="split right">
            <h1 class="dc-h1 top-margin">The Programmer</h1>
            <a href="{% url 'code' %}" class="dc-button top-margin">View Portfolio</a>
        </div>
    </div>
    <!--------------Two button options to take users to see the code or design portfolios------------->
    <div class="h-lg-100 design-code-container">
        <div class="row design-code-imgs">
            <div class="col-md-6 col-xs-12 design-div option-div">
                <h1 class="display-4 center h1-options">
                    <a class="home-option" href="{% url 'design' %}">Design</a>
                </h1>
            </div>
            <div class="col-md-6 col-xs-12 code-div option-div">
                <h1 class="display-4 center h1-options">
                    <a class="home-option" href="{% url 'code' %}">Code</a>
                </h1>
            </div>
        </div>
    </div>
    <!-----------Intoduction to the company------------->
    <div>
        <div class="row g-0 w-100 service red-back">
            <div class="col-lg-6 col-md-12 service-description service-text-div">
                <h1 class="display-4 center white about-us-sub-heading">
                    Who are we?
                </h1>
                <p class="about-us-strap-line grey">
                    We are a collective of professional software developers and graphic designers in Kent with passion and expertise to burn.
                </p>
                <p class="white about-us-text"> 
                    As a software and design agency, we are well versed in creating print designs, websites and everything in between to help move a businesses forward.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="service-img" alt="web-design" src="{{ MEDIA_URL }}web-designer.jpg">
            </div>
        </div>
        <!-----------Brief description on what the company does------------->
        <div class="row g-0 w-100 service blue-back">
            <div class="col-lg-6">
                <img class="service-img" alt="code-image" src="{{ MEDIA_URL }}codecode.jpg">
            </div>
            <div class="col-lg-6 col-md-12 right-align service-text-div">
                <h1 class="display-4 center white about-us-sub-heading">
                    What we do
                </h1>
                <p class="about-us-strap-line red">
                    We can provide you with everything you would expect from a software/design agency. Without the price tag.
                </p>
                <p class="white about-us-text">
                    Creating striking offline and online material is our speciality. Whatever your line of work, We have the skills and vision to help your business stand out from the crowd.
                </p>
                <!-----------Button to take user to the services screen------------>
                <a class="btn btn-primary" href="{% url 'services' %}">EXPLORE</a>
            </div>
        </div>
    </div>
    <!-----------Link for user to start creating an order------------->
    <div class="center col-12 mx-auto get-quote-btn-container grey-back">
        <h3 class="white">Bring your ideas to life, and click here to start your project with us.</h3>
        <a class="btn btn-primary get-quote-btn" href="{% url 'bagged_services' %}">CREATE ORDER</a>
    </div>

    <script>
        // Design/Code fade homescreen function
        const left = document.querySelector(".left");
        const right = document.querySelector(".right");
        const container = document.querySelector(".dc-container");

        left.addEventListener("mouseenter", () => {
            container.classList.add("hover-left");
        });

        left.addEventListener("mouseleave", () => {
            container.classList.remove("hover-left");
        });

        right.addEventListener("mouseenter", () => {
            container.classList.add("hover-right");
        });

        right.addEventListener("mouseleave", () => {
            container.classList.remove("hover-right");
        });
    </script>
{% endblock %}