{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="h-100">
        <div class="row h-100">
            <div class="col-md-6 col-xs-12 design-div option-div">
                <h1 class="display-4 center h1-options">
                    <a class="home-option" href="{% url 'design' %}">Design</a>
                </h1>
            </div>
            <div class="col-md-6 col-xs-12 code-div option-div">
                <h1 class="display-4 center h1-options">
                    <a class="home-option" href="{% url 'code' %}">Code</a>
                </h1>
            </div>
        </div>
    </div>
    <div class="center col-12 mx-auto get-quote-btn-container">
        <a href="{% url 'order' %}"><button class="btn btn-primary get-quote-btn" type="button">GET A QUOTE!</button></a>
    </div>
{% endblock %}