<div class="contact-footer-div">
    <form class="row g-3 contact-footer-form">
        <div class="col-md-4">
            <label for="name" class="form-label c-footer-input">Name</label>
            <input type="text" class="form-control validate" pattern="[A-Za-z ]{1,32}" id="name" required>
        </div>
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label c-footer-input">Email</label>
            <input type="email" class="form-control validate" pattern="[0-9a-zA-Z_.-@]*" id="inputEmail4" required>
        </div>
        <div class="col-md-4">
            <label for="phone" class="form-label c-footer-input">Phone (optional)</label>
            <input type="phone" class="form-control" id="phone">
        </div>
        <div class="col-12">
            <label for="inputMessage" class="form-label c-footer-input">Enter your message...</label>
            <textarea type="text" class="form-control contact-message validate" pattern="[[0-9a-zA-Z_.()-@]* ]{1,10000}" id="inputMessage" required></textarea>
        </div>
        <div class="col-12 center">
            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
    </form>
</div>
<div class="contact-details-footer-container">
    <div class="container">
        <div class="row contact-details-footer">
            <div class="col">
                <h4>CONTACT INFORMATION</h4>
                <p>T: 07492229226</p>
                <p>E: BROADESIGNS@OUTLOOK.COM</p>
            </div>
            <div class="col">
                <h4>ABOUT BROAD DESIGNS</h4>
                <p>We are not a design agency. We are a collection of creative professionals. Each of us our talented in our
                    respective fields and have worked in design agencies countrywide for clients local, and nationally.
                    Commissioning freelance designers ensures you are just paying design fees - Not ground rents, project
                    managers, administration staff or cleaners. Not water coolers, air conditioning or fancy warehouse
                    studios.
                    <br>
                    With designers, web developers and photographers all working together as a co-operative, you can be
                    guaranteed agency quality work, at freelance prices.
                </p>
            </div>
        </div>
    </div>
</div>