{% include 'contact/includes/contact-form.html' %}
<div class="contact-details-footer-container">
    <div class="container">
        <div class="row contact-details-footer">
            <div class="col">
                <h4>CONTACT INFORMATION</h4>
                <p>T: 07492229226</p>
                <p>E: BROADESIGNS@OUTLOOK.COM</p>
                <p>GREENLAWNS, SOWELL STREET<br/>BROADSTAIRS<br/>KENT<br/>CT10 2AU</p>
            </div>
            <div class="col">
                <h4>ABOUT BROAD DESIGNS</h4>
                <p>We are not a design agency. We are a collection of creative professionals. Each of us are talented in our
                    respective fields and have worked in design agencies countrywide for clients local, and nationally.
                    Commissioning freelance designers ensures you are just paying design fees - Not ground rents, project
                    managers, administration staff or cleaners. Not water coolers, air conditioning or fancy warehouse
                    studios.
                    <br>
                    With designers, web developers and photographers all working together as a co-operative, you can be
                    guaranteed agency quality work, at freelance prices.
                </p>
            </div>
        </div>
    </div>
</div>