<div class="main-footer">
    <div class="container-fluid footer-container">
        <div class="row w-100">
            <div class="col-md-6 col-xs-12 copyright">
                <p>© 2020 Broad Design. | Company number 0822334</p>
            </div>
            <div class="col-md-6 col-xs-12 socials-footer">
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram social-icons"></i></a>
                <a href="https://www.facebook.com/broaddesigns/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook social-icons"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter social-icons"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github social-icons"></i></a>
            </div>
        </div>    
    </div>
</div>    