{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">{% trans "Set Password" %}</h1>
            </div>
        </div>
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-dark" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        <a class="btn btn-outline-dark" href="{% url 'home' %}">Home</a>
    </form>
{% endblock %}
