{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Quotation</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div>{% include 'order/includes/design-order.html' %}</div>
    <div class="btn-group w-100 quote-switch-container" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary quote-switch-label" for="btnradio1">Design Quote</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary quote-switch-label" for="btnradio3">Code Quote</label>
    </div>
    <div class="design-quote-container">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="name-company" class="form-label">Name or Company name</label>
                <input type="email" class="form-control" id="name-company">
            </div>
            <div class="dropdown col-md-6">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                </a>
                <select class="dropdown-menu" multiple="multiple" data-bs-toggle="collapse" aria-labelledby="dropdownMenuLink">
                    <option class="dropdown-item">Adults</option>
                    <option class="dropdown-item">Teens</option>
                    <option class="dropdown-item">Children</option>
                </select>
            </div>
            <div class="col-12">
                <label for="project-description" class="form-label">Project Description</label>
                <textarea class="form-control project-description" aria-label="project-description"></textarea>
            </div>
            <div class="col-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Please upload useful files for your project</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
            <div class="col-12">
                <label for="useful-links" class="form-label">Company website or other links</label>
                <textarea class="form-control useful-links" aria-label="useful-links"></textarea>
            </div>
            <div class="col-12 center">
                <button type="submit" class="btn btn-primary">Get Quote</button>
            </div>
        </form>
    </div>
{% endblock %}