{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'order/css/order.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container topper blue">
    <div class="row">
        <div class="col">
            <h1 class="heading services-heading center">Your Order</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row order-form-container">
    <div id="design-form-conatiner" class="design-quote-container col-md-9">
        <p class="text-muted">Please fill out the form below to complete your order:</p>
        <form action="{% url 'order' %}" method="POST" enctype="multipart/form-data" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Project Info</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ order_form.project_name | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ order_form.target_audience | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    {{ order_form.project_description | as_crispy_field }}
                </div>
                <legend class="fieldset-label small text-black px-2 w-auto">Upload a useful file:</legend>
                {{ order_form.img_file | as_crispy_field }}
                {{ order_form.useful_links | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                <div class="row">
                    <div class="col-md-6">
                        {{ order_form.full_name | as_crispy_field }}
                    </div>    
                    <div class="col-md-6">
                        {{ order_form.email | as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="rounded px-3 mb-5">
                <legend class="fieldset-label px-2 w-auto">Address Information</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                    <label class="form-check-label" for="id-save-info">Save my address information to my profile</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                    <label class="form-check-label" for="id-save-info">
                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="px-3">
                <legend class="fieldset-label px-2 w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            </fieldset>
            <div class="submit-button text-right mt-5 mb-2">                    
                <button id="submit-button" class="btn btn-outline-dark">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>${{ order_total|floatformat:2 }}</strong></span>
                </p>
            </div>
        </form>
    </div>
    <div class="col-md-3 order-items-container red-back white">
        <h2 class="your-services-head">Your Services:</h2>
        {% if order_items %}
            {% for item in order_items %}
            <div class="service-name">{{ item.service.name }}</div>
            {% endfor %}
        {% else %}
        <p class="lead mb-5">Your order is empty.</p>
        {% endif %}
        <hr>
        <div class="total">
            <h2>Project Total: £{{ order_total }}</h2>
        </div>
        <a href="{% url 'bagged_services' %}"><button type="button" class="btn btn-outline-light amend_services_btn"><i class="fas fa-arrow-left"></i> Ammend Order</button></a>
    </div>    
</div>
<div id="loading-overlay" class="red-back">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'order/js/stripe_elements.js' %}"></script>
{% endblock %}