{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Management</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h3 class="">Edit Project</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_project' project.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn btn-danger" href="{% url 'management' %}">Cancel</a>
                        <button class="btn btn-primary" type="submit">Update Project</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}