{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">Management</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!---------------Display the order information for the selected order------------------>
        <div class="order-info-container">
            <div class="row">
                <div class="col">
                    <small class="order-details-head">Order Info:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Order Number</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.order_number }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Order Date</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.date }}</p>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <small class="order-details-head">Order Details:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Project Name</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.project_name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Services</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.project_services }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Project Description</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.project_description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Target Audience</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.target_audience }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Useful Links</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.useful_links }}</p>
                </div>
            </div>

            <div class="row light-grey-back useful-img-container">
                <div class="col-12 center">
                    <p class="useful-file-head grey">Useful File</p>
                </div>
                <div class="col-12 text-md-right center">
                    <img class="order-useful-img" src="{{ order.img_file.url }}" alt="{{ order.project_name }}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <small class="order-details-head">Clients Details:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Full Name</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.full_name }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Phone Number</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.phone_number }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Email</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.email }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Address 1</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.street_address1 }}</p>
                </div>
            </div>

            {% if order.street_address2 %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Address 2</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.street_address1 }}</p>
                </div>
            </div>
            {% endif %}

            {% if order.county %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">County</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.county }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Town or City</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.town_or_city }}</p>
                </div>
            </div>

            {% if order.postcode %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Postal Code</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.postcode }}</p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Country</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">{{ order.country }}</p>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <small class="order-details-head">Billing Info:</small>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <p class="mb-0 order-detail-manage">Order Total</p>
                </div>
                <div class="col-12 col-md-8 text-md-right">
                    <p class="mb-0 order-detail-manage">£{{ order.order_total }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<!------------Button to take user back to management screen-------------->    
<a href="{% url 'management' %}" class="btn btn-outline-dark">
        <span class="icon mr-2">
            <i class="fas fa-angle-left"></i>
        </span>
        <span class="text-uppercase">Back to Management</span>
    </a>
</div>
{% endblock %}