<div class="order-container">
    <div class="row">
        <div class="col">
            <h2 class="center your-order">Your Order:</h2>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                {% if order_items %}
                    {% for item in order_items %}
                    <div class="table-responsive rounded item-in-order">{{ item.service.name }}</div>
                    {% endfor %}
                {% else %}
                <p class="lead mb-5">Your order is empty.</p>
                {% endif %}
            </div>
            <hr>
            <div class="w-100">
                <h2>Project Total: £{{ order_total }}</h2>
            </div>
        </div>
    </div>
</div>