{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container topper blue">
        <div class="row">
            <div class="col">
                <h1 class="heading services-heading center">What We Do</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="services-container">
        <div class="row g-0 w-100 first-service service">
            <div class="col-lg-6 col-md-12 service-description service-text-div">
                <h1 class="display-4 center grey services-sub-heading">
                    Web Design
                </h1>
                <p class="service-strap-line blue">
                    You’ll find plenty of web design companies in the UK. But you won’t find many – or any – like us.
                </p>
                <p class="grey service-text">
                    We love building websites, and we’re really, really good at it. But we’re not here to win awards… we’re here to win over your audience. This means creating engaging and inspiring websites your customers and search engines will love.
                    <br>
                    Ultimately, that means more visitors, better leads and increased sales, which is the whole point of a website.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="service-img" src="{{ MEDIA_URL }}web-designer.jpg">
            </div>
        </div>
        <div class="row g-0 w-100 web-development service">
            <div class="col-lg-6">
                <img class="service-img" src="{{ MEDIA_URL }}codecode.jpg">
            </div>
            <div class="col-lg-6 col-md-12 right-align service-text-div">
                <h1 class="display-4 center grey services-sub-heading">
                    Web Development
                </h1>
                <p class="service-strap-line">
                    Our Agile experts can create bespoke applications, platforms and products to meet the requirements of your business or new venture.
                </p>
                <p class="grey service-text">
                    People expect to be able to work and access information from a company when they need if from wherever they are; a web application offers companies a flexible, cost-effective way to meet this need. From a streamlined version of an internal system to increasing the efficiency of remote or travelling employees, to an interactive tool to help build brand loyalty with customers; a web application can deliver.
                </p>
            </div>
        </div>
        <div class="row g-0 w-100 service">
            <div class="col-lg-6 col-md-12 service-description service-text-div">
                <h1 class="display-4 center grey services-sub-heading">
                    Logo Design
                </h1>
                <p class="service-strap-line red">
                    Your logo design is the centre-piece of your visual identity.
                </p>
                <p class="grey service-text">
                    Get it right and your brand will become instantly recognisable as a market leader par excellence.
                    We are professional logo designers and have successfully worked with many businesses creating brands or their business logo design.
                    <br>
                    If you’re thinking about creating or refreshing your logo, get in touch or get a <a href="#">GET A QUOTE</a>.      
                </p>
            </div>
            <div class="col-lg-6">
                <img class="service-img" src="{{ MEDIA_URL }}logodesign.jpg">
            </div>
        </div>
        <div class="row g-0 w-100 shop-fascia service">
            <div class="col-lg-6">
                <img class="service-img" src="{{ MEDIA_URL }}shop-fascia.jpg">
            </div>
            <div class="col-lg-6 col-xs-12 right-align service-text-div">
                <h1 class="display-4 center grey services-sub-heading shop-fascia">
                    Shop Fascias
                </h1>
                <p class="service-strap-line red">
                    You’ll find plenty of web design companies in the UK. But you won’t find many – or any – like us.
                </p>
                <p class="grey service-text shop-fascia">
                    We love building websites, and we’re really, really good at it. But we’re not here to win awards… we’re here to win over your audience. This means creating engaging and inspiring websites your customers and search engines will love.
                    <br>
                    Ultimately, that means more visitors, better leads and increased sales, which is the whole point of a website.
                </p>
            </div>
        </div>
        <div class="row g-0 w-100 service">
            <div class="col-lg-6 col-md-12 service-description service-text-div">
                <h1 class="display-4 center grey services-sub-heading">
                    Buisness Branding
                </h1>
                <p class="service-strap-line blue">
                    You’ll find plenty of web design companies in the UK. But you won’t find many – or any – like us.
                </p>
                <p class="grey service-text">
                    We love building websites, and we’re really, really good at it. But we’re not here to win awards… we’re here to win over your audience. This means creating engaging and inspiring websites your customers and search engines will love.
                    <br>
                    Ultimately, that means more visitors, better leads and increased sales, which is the whole point of a website.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="service-img" src="{{ MEDIA_URL }}branding.jpg">
            </div>
        </div>
        <div class="row g-0 w-100 print-design service">
            <div class="col-md-6">
                <img class="service-img" src="{{ MEDIA_URL }}print-design.jpg">
            </div>
            <div class="col-lg-6 col-md-12 service-description service-text-div">
                <h1 class="display-4 center grey services-sub-heading print-design">
                    Print Design
                </h1>
                <p class="service-strap-line red">
                    Done well, print design promotes sales, motivates customers and supports your brand. How’s your print collateral looking?
                </p>
                <p class="grey service-text print-design">
                    From posters, leaflets and flyers to magazine spreads and covers. We do it all here at Broad Design, trying our best to give you exactly what will help your buisness prosper. Great print design can make your audience act, whether it’s a large-format, 6-sheet, or a smaller targeted campaign.
                </p>
            </div>
        </div>
    </div>
    <div class="center col-12 mx-auto get-quote-btn-container grey-back">
        <h3 class="white">Bring your ideas to life, and click here to start your project with us.</h3>
        <a href="{% url 'bagged_services' %}"><button class="btn btn-primary get-quote-btn" type="button">CREATE ORDER</button></a>
    </div>
{% endblock %}